body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
  background-color: whitesmoke;
}
img{
  height: 160px;
  width: 275px;
}
.info{
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  color:black;
  background-color: white;
}
table{
  border-spacing: 20px; 
}
th {
  width: 120px;
  padding-top:25px;
  padding-bottom:30px;
}

td {
  padding: 2px;
}

.Boxs{
  margin-left: 14%;
}

.stream{
  background-color: red;
  height: 35px;
  width: 90px;
  border-radius: 20px;
  border-style: hidden;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  font-size: x-small;
  cursor: pointer;
}